In [21]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, StandardScaler
import datetime

In [ ]:
df = pd.read_csv("cleaned_data.csv")
df_copy = df.copy()
def data_preprocessing(data, current_year = 2025):
    """
    data: pd.DataFrame
    
    Output
    processed_data:pd.DataFrame
    """
    #Handle negative values in "no_of_employees"
    data["no_of_employees"] = np.abs(data["no_of_employees"])
    data = data.drop("case_id", axis = 1)

    #Feature engineering
    def prev_wage_norm(data):
        if data["unit_of_wage"] == "Year":
            return data["prevailing_wage"]
        elif data["unit_of_wage"] == "Month":
            return data["prevailing_wage"] * 12
        elif data["unit_of_wage"] == "Week":
            return data["prevailing_wage"] * 52
        else:
            return data["prevailing_wage"] * 40 * 52
    
    data["Prev_wage_normal"] = data.apply(prev_wage_norm, axis = 1)
    data["age_of_estab"] = current_year - data["yrs_of_estab"]

    def quality_assessment(data):
        if data["has_job_experience"] == "Y" and data["requires_job_training"] == "Y":
            return 4
        elif data["has_job_experience"] == "Y" and data["requires_job_training"] == "N":
            return 3
        elif data["has_job_experience"] == "N" and data["requires_job_training"] == "Y":
            return 2
        else:
            return 1
    data["Quality_Rating"]  = data.apply(quality_assessment, axis = 1)
    data["education_of_employees"] = data["education_of_employees"].map({"High School": 0, "Bachelor's": 1, "Master's": 2, "Doctorate": 3})
    data["continent"] = data["continent"].map({"South America": 0, "North America": 1, "Oceania": 2, "Asia": 3, "Africa": 4, "Europe": 5})

    return data

In [20]:
df[df["no_of_employees"] <= 0]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
245,EZYV246,Europe,Master's,N,N,-25,1980,Northeast,39452.9900,Year,Y,Certified
378,EZYV379,Asia,Bachelor's,N,Y,-11,2011,Northeast,32506.1400,Year,Y,Denied
832,EZYV833,South America,Master's,Y,N,-17,2002,South,129701.9400,Year,Y,Certified
2918,EZYV2919,Asia,Master's,Y,N,-26,2005,Midwest,112799.4600,Year,Y,Certified
6439,EZYV6440,Asia,Bachelor's,N,N,-14,2013,South,103.9700,Hour,Y,Denied
6634,EZYV6635,Asia,Bachelor's,Y,N,-26,1923,West,5247.3200,Year,Y,Denied
7224,EZYV7225,Europe,Doctorate,N,N,-25,1998,Midwest,141435.9500,Year,Y,Certified
7281,EZYV7282,Asia,High School,N,N,-14,2000,Midwest,58488.5000,Year,Y,Denied
7318,EZYV7319,Asia,Bachelor's,Y,Y,-26,2006,South,115005.6100,Year,Y,Certified
7761,EZYV7762,Asia,Master's,N,N,-11,2009,Midwest,38457.5100,Year,Y,Certified
9872,EZYV9873,Europe,Master's,Y,N,-26,1996,South,37397.0500,Year,Y,Certified
11493,EZYV11494,Asia,High School,Y,N,-14,1999,South,27599.3500,Year,Y,Denied
13471,EZYV13472,North America,Master's,N,N,-17,2003,Northeast,257.2413,Hour,Y,Denied
14022,EZYV14023,Asia,Bachelor's,N,Y,-11,1946,Northeast,108403.5600,Year,Y,Certified
14146,EZYV14147,Asia,Bachelor's,N,Y,-26,1954,West,81982.2700,Year,Y,Certified
14726,EZYV14727,Asia,Master's,N,N,-11,2000,Midwest,167851.8000,Year,Y,Certified
15600,EZYV15601,Asia,Bachelor's,N,N,-14,2014,South,24641.6100,Year,Y,Denied
15859,EZYV15860,Asia,High School,N,N,-11,1969,South,44640.6000,Year,Y,Denied
16157,EZYV16158,Asia,Master's,Y,N,-11,1994,South,62681.2500,Year,Y,Certified
16883,EZYV16884,North America,Bachelor's,Y,N,-26,1968,Northeast,168.1558,Hour,Y,Denied
17006,EZYV17007,Asia,Doctorate,Y,N,-11,1984,West,25753.5100,Year,Y,Denied
17655,EZYV17656,North America,Bachelor's,Y,N,-17,2007,Northeast,129753.1800,Year,Y,Denied
17844,EZYV17845,Asia,Bachelor's,N,N,-14,2012,West,29325.8500,Year,Y,Denied
17983,EZYV17984,Asia,Bachelor's,N,N,-26,2004,South,84359.9800,Year,Y,Denied
20815,EZYV20816,Asia,Bachelor's,N,Y,-17,1990,West,91897.5700,Year,Y,Certified
20984,EZYV20985,Europe,Doctorate,Y,N,-14,1989,Midwest,37012.8000,Year,Y,Certified
21255,EZYV21256,North America,High School,N,N,-25,1987,South,99405.4700,Year,N,Denied
21760,EZYV21761,Asia,Bachelor's,Y,N,-25,2000,West,100463.5800,Year,Y,Certified
21944,EZYV21945,Africa,Master's,Y,N,-25,1977,Midwest,79150.5100,Year,Y,Certified
22084,EZYV22085,North America,Bachelor's,Y,N,-14,1980,West,691.0609,Hour,Y,Denied
22388,EZYV22389,Asia,Master's,Y,N,-14,1986,South,17893.1100,Year,Y,Certified
23186,EZYV23187,Asia,Master's,N,Y,-11,2007,Midwest,120195.3500,Year,Y,Certified
23476,EZYV23477,Europe,Master's,Y,N,-11,2000,West,95072.7500,Year,Y,Denied

In [ ]:
df[""]